/* Main grid */

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: min(90vh, 1200px);
  margin-inline: auto;
  margin-top: 1em;
}

.header {
  grid-area: 1 / 2 / 2 / 7;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.toolbar {
  grid-area: 2 / 2 / 6 / 3;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 1rem;
}
.tools {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tool {
  border: 1px solid black;
}
/* Canvas related */
.canvas {
  grid-area: 2 / 3 / 6 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.canvas--16 {
  grid-area: 2 / 3 / 6 / 7;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.canvas--32 {
  grid-area: 2 / 3 / 6 / 7;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
}
.canvas--64 {
  grid-area: 2 / 3 / 6 / 7;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
}
.canvas--16 > div:hover {
  background-color: red;
}
.canvas--32 > div:hover {
  background-color: greenyellow;
}
.canvas--64 > div:hover {
  background-color: blue;
}
.canvas--buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Footer */
.footer {
  max-height: 5rem;
  grid-area: 6 / 2 / 6 / 7;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Media queries */
@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: repeat(9, 1fr);
    height: min(90vh, 1200px);
  }
  .header {
    grid-area: 1/1/2/8;
  }
  .canvas,
  .canvas--16,
  .canvas--32,
  .canvas--64 {
    grid-area: 2 / 1 / 8/ 8;
  }

  .toolbar {
    grid-area: 8/ 1 / 9 / 8;
  }
  .tools {
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .footer {
    grid-area: 10/ 1 / 9 /8;
  }
}

/* Utilities */

.hidden {
  display: none;
}
