/* Main grid */
.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: min(90vh, 1200px);
  margin-inline: auto;
  margin-top: 1em;
}
.header {
  grid-area: 1 / 2 / 2 / 7;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar {
  grid-area: 2 / 2 / 6 / 3;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.tools {
  display: flex;
  flex-direction: column;
}
.canvas {
  grid-area: 2 / 3 / 6 / 7;
  border: 1px solid black;
}

.footer {
  max-height: 5rem;
  grid-area: 6 / 2 / 6 / 7;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: repeat(8, 1fr);
    height: min(90vh, 1200px);
  }
  .canvas {
    grid-area: 2 / 2 / 8/ 7;
  }
  .toolbar {
    grid-area: 8/ 2 / 9 / 7;
  }
  .tools {
    flex-direction: row;
  }
  .footer {
    grid-area: 9/ 2 / 9 / 7;
  }
}
