/* Main grid */
html {
  font-family: "Raleway", sans-serif;
}
:root {
  --font-main: "Rubik Moonrocks", cursive;
  --black: #040408;
  --accent: #e4be59;
  --white: #fcfbfe;
}
.container {
  display: grid;

  grid-template-columns: 80px repeat(6, 1fr) 80px;
  grid-template-rows: repeat(8, 1fr);

  height: min(90vh, 800px);
  width: min(90vw, 800px);
  margin-inline: auto;
  margin-top: 1em;
}

.options {
  grid-area: 2 / 2 / 7 / 8;

  display: grid;
  grid-template-rows: repeat(8, 1fr);
  place-content: center;
  gap: 2rem;
}
.toolbar {
  cursor: pointer;
  grid-area: 2 / 2 / 8 / 8;
  z-index: 11;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.tool--menu {
  grid-area: 6 / 2 / 9 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
}
.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.color--picker {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-area: 8/ 1 / 9 / 8;
}
.tools {
  cursor: pointer;
  display: flex;

  flex-direction: row;
  margin-bottom: 1rem;
  gap: 1rem;
}
.tool {
}
/* Canvas related */

.canvas {
  grid-area: 2 / 2 / 8 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.canvas--16 {
  grid-area: 2 / 2 / 8 / 8;

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.canvas--32 {
  grid-area: 2 / 2 / 8 / 8;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
}
.canvas--64 {
  grid-area: 2 / 2 / 8 / 8;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
}

.canvas--buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* UI AND FRAME  */

/* Frame*/
.left {
  grid-area: 2 / 1 / 9 / 2;
  background-color: var(--black);
  -webkit-box-shadow: 5px 0px 15px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 5px 0px 15px -2px rgba(0, 0, 0, 0.48);
}

.top {
  grid-area: 1 / 1 / 2 / 9;
  background-color: var(--black);
  -webkit-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.48);
  display: grid;
  grid-template-columns: 80px repeat(6, 1fr) 80px;
  grid-template-rows: 1;
}
.top--left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}
.top--right {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 8;
  grid-row: 1;
}

.right {
  background-color: var(--black);
  grid-area: 1 / 8 / 9 / 9;
  -webkit-box-shadow: -5px 0px 15px -2px rgba(0, 0, 0, 0.48);
  box-shadow: -5px 0px 15px -2px rgba(0, 0, 0, 0.48);
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.bottom {
  grid-area: 8 / 1 / 9 / 9;
  background-color: var(--black);
  -webkit-box-shadow: 0px -5px 15px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 0px -5px 15px -2px rgba(0, 0, 0, 0.48);
  display: grid;
  grid-template-columns: 80px repeat(6, 1fr) 80px;
  grid-template-rows: repeat(1, 1fr);
}
.bottom--left {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
}
.bottom--right {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 8;
  grid-row: 1;
}
.nail {
  background: #000000;
  background: -moz-linear-gradient(
    45deg,
    #000000 0%,
    var(--accent) 50%,
    #868686 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #000000 0%,
    var(--accent) 50%,
    #868686 100%
  );
  background: linear-gradient(
    45deg,
    #000000 0%,
    var(--accent) 50%,
    #868686 100%
  );
  border-radius: 50%;
  height: 20px;
  width: 20px;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 4px 4px rgba(202, 202, 202, 0.18);
}

/* Media queries */
/* @media screen and (max-width: 800px) {
  .container {
    grid-template-rows: repeat(9, 1fr);
    height: min(90vh, 1200px);
  }
  .header {
    grid-area: 1/1/2/8;
  }
  .bg-svg {
    grid-area: 1/1/9/8;
  }

  .canvas,
  .canvas--16,
  .canvas--32,
  .canvas--64 {
    grid-area: 2 / 1 / 8/ 8;
  }

  .toolbar {
    grid-area: 8/ 1 / 9 / 8;
  }
  .color--picker {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-area: 8/ 1 / 9 / 8;
  }
  .tools {
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .footer {
    grid-area: 10/ 1 / 9 /8;
  }
} */

/* Utilities */

.hidden {
  display: none;
}
.color {
  z-index: 2;
  cursor: crosshair;
  /* border: 1px solid black; */
}
.color--picker--colors {
  border: 1px solid black;
}

/* Buttons */

button {
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: var(--accent);
  scale: 110%;
}

.options > h2 {
  grid-row: 3;
}
.options > button:nth-child(2) {
  grid-row: 4;
}

.options > button:nth-child(3) {
  grid-row: 5;
}

.options > button:nth-child(4) {
  grid-row: 6;
}

.options > button:nth-child(5) {
  grid-row: 8;
}
/* Typo */
.frame--text--top {
  font-family: var(--font-main);
  grid-column: 2/8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: var(--accent);
}

.frame--text--bottom {
  font-family: var(--font-main);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.frame--text--bottom:hover {
  scale: 110%;
  color: var(--white);
}
.frame--text--bottom:nth-child(1) {
  grid-column: 3/4;
}
.frame--text--bottom:nth-child(2) {
  grid-column: 6/7;
}
.options > h2 {
  font-family: var(--font-main);
  color: var(--black);
}
